*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width:100%;
    height: 100vh;
    background-color: rgba(242, 197, 108, 0.71);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family:sans-serif;
}

.container{
    width: 400px;
    height: 500px;
    background-color: rgba(155,255,255,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

input{
    position: absolute;
    left: 5%;
    top: 5%;
    background: white;
    height:58px;
    width:200px;
}

button {
    position: absolute;
    right: 5%;
    top: 5%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    height:58px;
    width:120px;
  }
  
  /* Animation styles */
  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animated-button {
    animation: pulseAnimation 2s infinite;
  }

p{
    color: red;
    font-size: 23px;
    padding-top: 4%;
}
